*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 98, 223);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Formulario 1 y 2*/
.forms {
    display: grid;
    align-items: center;
    width: 400px;
    background-color: #fff;
    padding: 50px;
    margin: auto;
    margin-bottom: 60px;
    border-radius: 30px;
    margin-top: 50%;
    color: #705de8;
    box-shadow: 5px 5px 10px #0f0b47;
    
}

h2{
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

h2:hover{
    transform: scale(1.1);
}

.text, .date, .sexo {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 

}

.button-container{
    display: flex;
    justify-content: center; 
    width: 100%;
}

.divbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    display: inline-block;
    width: fit-content;
    background-color: rgb(98, 98, 223);
    color: white;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
   
}
.button:hover{
    background-color: #fff; 
    color: rgb(98, 98, 223); 
    border-color: rgb(98, 98, 223);
    border: 2px solid;
    transform: scale(1.1) rotate(5deg);
}
.button--anterior{
    display: inline-block;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    color: rgb(98, 98, 223);
    padding: 10px 20px; 
    border-radius: 5px ; 
    border: solid rgb(98, 98, 223) 1px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.button--anterior:hover{
    background-color: #fff; 
    color: rgb(98, 98, 223); 
    border-color: rgb(98, 98, 223);
    border: 2px solid;
    transform: scale(1.1) rotate(-5deg);
}


input {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}
select{
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

label{
    margin-bottom: 5px;
   
}

div{
    justify-content: center;
}

/*Index*/
.contentdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.contentdiv__logo{
    width: 200px;
    
}
.contentspan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.contentspan__span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    white-space: nowrap;
    border-right: 4px solid;
    width: 100ch;
    animation: typing 8s steps(90) infinite alternate,
    blink .8s infinite step-end ;
    overflow: hidden;
}
@keyframes typing {
    from {width: 0;}
    to{width: 100%;}
    
}@keyframes blink{
50%{
    border-color: transparent;
}
}





